[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pmw = "*"

[packages]
panda3d = "==1.10.6"
blender = "*"
ursina = {editable = true, git = "git@github.com:pokepetter/ursina.git"}

[requires]
python_version = "3.8"
